<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/dictate.css">
    <script src="/js/jquery-2.2.4.min.js"></script>
</head>
<body>