<% include partials/header %>
<!--Main stylesheet is included in header-->
<!--If you want ejs to output in HTML us <%= %>... if using logic, just use <% %>-->
<h1>Welcome to the <%=exercise%> page.</h1>

<% include partials/footer %>